.home {
    height: 100vh;
    &__h1Header {
        font-family: 'Lateef', 'serif';
        font-style: normal;
        font-weight: 400;
        font-size: 60px;
        line-height: 87px;
        letter-spacing: 0.06em;
        color: $textGrey ;
    }

    &__h1Footer {
        font-family: 'Jura';
        font-style: normal;
        font-weight: 400;
        font-size: 52px;
        line-height: 73px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.33);
    }
}