.nav-home {
    width:80vw;
    height: 40vh;
    transform: rotate(-3deg);
    border: 1px solid #fff;
    background-color: black;
    box-shadow: (9px 4px 8px #D9D9D9);
    h1{
        color: #fff;
    }

}